<!--HEADER-->
        <header class="page-header navbar navbar-fixed-top"></header>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <sidebar class="page-sidebar-wrapper"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content" style="background-color: #EEF1F5;">
                    <!-- BEGIN ACTUAL CONTENT -->
                     <home-page></home-page>
                    <!-- END ACTUAL CONTENT -->
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <footer class="page-footer"></footer>